<%- include('../partials/header'); %>

<main class="main main-home container">
    <h2 class="home-header text-center">
        welcome to the switch database!!!!
    </h2>
    <img src="/media/switch.jpg" alt="home image" class="img-fluid">
</main>

<%- include('../partials/footer'); %>